body {
	background: #343E59;
	color: #777;
	font-family: Montserrat, Arial, sans-serif;
}

.body-bg {
	background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}

.content-area {
	max-width: 1280px;
	margin: 0 auto;
}

.box {
	background-color: #2B2D3E;
	padding: 25px 20px;
}

.shadow {
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px 1px #666;
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	position: relative;
	border-radius: 5px;
}

.sparkboxes .box .details {
	color: #fff;
}
.sparkboxes strong {
	position: relative;
	z-index: 3;
	top: -8px;
	color: #fff;
}

.details h4 {
	font: Monospace;
	font-family: 'IBM Plex Mono', monospace;
}

.sparkboxes .box1 {
	background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.sparkboxes .box2 {
	background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.sparkboxes .box3 {
	background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.sparkboxes .box4 {
	background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

#fusionexport-btn {
	min-width: 169px;
	min-height: 38px;
	text-align: center;
}

#fusionexport-btn .span {
	display: inline-block;
}

.spinner-border {
	display: none;
}

#fusionexport-btn[disabled] {
	cursor: wait;
}

#fusionexport-btn[disabled] .spinner-border {
	display: inline-block;
}

#fusionexport-btn[disabled] .btn-text {
	display: none;
}


/* ------------------------------------- */
/* 				Side bar				 */ 
/* ------------------------------------- */

#menu {
	transform: rotate(90deg);
	left: 20px;
	font-size: 2em;
	font-weight: 800;
	z-index: 111;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
}

#menu:hover {
	color: #ff9900;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 75px;
	opacity: 1;
}

li {
	text-align: center;
	text-transform: uppercase;
	height: 70px;
	line-height: 70px;
	margin: 15px 0;
	color: white;
	cursor: pointer;
	background-color: #1977cf;
	font-size: 1em;
	letter-spacing: 0.2em;
	transition: all 0.25s;
	opacity: 1;
}

li:hover {
	background-color: white;
	color: black;
	letter-spacing: 0.3em;
	font-size: 1.5em;
}

#lgMenu  {
	padding-top: 1em;
	width: 400px;
	height: 100%;
	top: 0;
	left: -400px;
	overflow: hidden;
	background-color: #2B2D3E;
	position: absolute;
	z-index: 11;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	opacity: 0.9;
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

#lgMenu a {
	color: inherit;
}

#exit {
	position: absolute;
	right: 10px;
	padding: 0px;
	top: -10px;
	font-size: 4em;
	color: white;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}
#exit:hover {
	color: #ff9900;
}

#lgMenu.enter {
	left: 0;
}

#brand {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}


/* ------------------------------------- */
/* 				Info boxes				 */ 
/* ------------------------------------- */

.info-box {
	position: relative;
}

.info-box-selection {
	position: absolute;
	top: 0;
	right: 0;

	/* visibility: hidden; */
	opacity: 0; /* hide by default */
	/* animate transition */
	transition: visibility 0.2s linear, opacity 0.2s linear;
}

/* when hovering on the main box, show selection arrow */
.info-box-container:hover .info-box-selection {
	/* visibility: visible; */
	opacity: 1;
}

.info-box-selection > p:hover {
	cursor: pointer;
}