body {
	background: #343E59;
	color: #777;
	font-family: Montserrat, Arial, sans-serif;
}

.body-bg {
	background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}

.content-area {
	max-width: 1280px;
	margin: 0 auto;
}

#logo {
	height: auto;
	width: 40%;
	display: block;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 10px;
}

/* ------------------------------------- */
/* 			Telemetry Elements 		 	 */ 
/* ------------------------------------- */

.header {
	color: white;
	font-family: Montserrat, Arial, sans-serif;
}

.box {
	background-color: #2B2D3E;
	padding: 25px 20px;
}

.shadow {
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px 1px #666;
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	position: relative;
	border-radius: 5px;
}

.sparkboxes .box .details {
	color: #fff;
}

.sparkboxes strong {
	position: relative;
	z-index: 3;
	top: -8px;
	color: #fff;
}

.details h4 {
	font: Monospace;
	font-family: 'IBM Plex Mono', monospace;
}

.sparkboxes .box1 {
	background: #681FC1;
}

.sparkboxes .box2 {
	background: #E1148F;
}

.sparkboxes .box3 {
	background: #F4D301;
}

.sparkboxes .box4 {
	background: #0099CC;
}

.sparkboxes .box5 {
	background: #00A38D;
}


/* ------------------------------------- */
/* 				Side bar				 */ 
/* ------------------------------------- */

#menu {
	left: 20px;
	font-size: 2em;
	font-weight: 800;
	z-index: 111;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
}

#menu:hover {
	color: #ff9900;
	transform: rotate(120deg);
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 75px;
	opacity: 1;
}

li {
	text-align: center;
	text-transform: uppercase;
	height: 70px;
	line-height: 70px;
	margin: 15px 0;
	color: white;
	cursor: pointer;
	background-color: #1977cf;
	font-size: 1em;
	letter-spacing: 0.2em;
	transition: all 0.25s;
	opacity: 1;
}

li:hover {
	background-color: white;
	color: black;
	letter-spacing: 0.3em;
	font-size: 1.5em;
}

#lgMenu  {
	padding-top: 1em;
	width: 400px;
	height: 100%;
	top: 0;
	left: -400px;
	overflow: hidden;
	background-color: #2B2D3E;
	position: absolute;
	z-index: 11;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	opacity: 0.9;
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

#lgMenu a {
	color: inherit;
}

#exit {
	position: absolute;
	right: 10px;
	padding: 0px;
	top: -10px;
	font-size: 4em;
	color: white;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
}

#exit:hover {
	color: #ff9900;
}

#lgMenu.enter {
	left: 0;
}

#brand {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}

/* ------------------------------------- */
/* 				Carousell 				 */
/* ------------------------------------- */

.carousel-control-prev {
	width: 12%;
}

.carousel-control-next {
	width: 12%;
}
